/* ---------------------------------------- MEDIA QUERY --------------------------------------- */
/* x schermi più grandi ??? */


/* TABLET */
@media (max-width: 850px) {

    /* NAVBAR */
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color5);
        transition: right .5s;
    }

    .menu li {
        margin-top: 40px;
    }

    .menu li a {
        padding: 10px;
    }

    #open-menu,
    #close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }

    /* MENU */
    .corpo {
        flex-direction: column;
        align-items: center;
    }

    .container-avatar {
        margin-top: -400px;
        margin-left: -25px;
    }

    .dati h1 {
        margin-top: 30%;
    }

    .arrow-down {
        display: none;
    }

    .work {
        display: none;
    }

    /* INFO */
    #info {
        height: 200vh;
    }

    .container-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-left {
        width: 600px;
        padding: 11.5%;
    }

    .container-right {
        margin-left: 0;
        margin-top: 40px;
        width: 600px;
        padding: 11%;
    }

    /* PORTFOLIO */
    #portfolio {
        height: 160vh;

    }

    .container-portfolio {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .container-titolo {
        width: 700px;
        margin-bottom: 40px;
    }

    .container-img {
        width: 400px;

    }

    #prev {
        left: -120px;
    }

    #next {
        right: -120px;
    }


    /* CONTACT */
    .titolo h3 {
        margin-top: 45px;

        font-size: 17px;
    }

    .titolo h3 span {
        font-size: 17px;
    }

    #nm,
    #email,
    #text,
    #btn-invia {
        width: 400px;
    }

    /* ARROW-UP */
    .back-to-home {
        width: 28px;
        height: 28px;
        bottom: 16px;
        right: 6px;
        padding: 2px;
        font-size: 1.5rem;
    }

    /* FOOTER */
    .container-footer {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-section {
        border-right: none;
        border-bottom: 1px solid #555;
        padding-bottom: 20px;
    }

    .footer-section:last-child {
        border-bottom: none;
    }

    .footer-section:first-child {
        border-left: none;
    }
}

@media (max-width: 750px) {
/* da fare  */
}

/* TELEFONO */
@media (max-width: 500px) {

    /* HOME */
    .corpo {
        height: 100vh;
        flex-direction: column;
        align-items: center;
    }

    .dati {
        font-size: 12px;
        /* padding-top: 100px; */
        padding-top: 50px;
    }

    .dati h1 {
        margin-top: 0;
    }

    .dati h1 span {
        font-size: 22px;
    }

    .container-avatar {
        margin-top: -330px;
        margin-left: 10px;
        width: 140px;
        height: 140px;
    }

    .dati a {
        margin-left: -40px;
        padding-right: 40px;
    }

    /* INFO */
    #info {
        height: 200vh;
    }

    .container-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-left {
        width: 300px;
        height: 450px;
        padding: 4%;

    }

    .container-right {
        width: 300px;
        height: 500px;
        margin-left: 0;
        margin-top: 100px;
        padding: 5%;
    }

    .container-button button {
        width: 220px;
    }

    /* exp */
    /* .p-exp {

        line-height: 1.3;
        word-spacing: -0.5px;
    } */
    #corso {
        position: absolute;
        bottom: -10px;
    }

    /* skills */
    #container-2 {
        height: 500px;
    }

    .p-skills {
        padding: 20px 0 40px 0;
    }

    .container-skills .skills {
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
    }

    .sub-box {
        width: 40px;
        height: 40px;
    }

    .sub-box-span {
        font-size: 9px;
    }

    /* About */
    .about {
        flex-wrap: wrap;
        gap: 10px;
    }

    .p-about {
        padding: 30px 0 30px 0;
    }

    .dom {
        border-bottom: 1px dashed #44444474;
    }

    .column {
        gap: 10px;
    }

    /* PORTFOLIO */
    #portfolio {
        height: 200vh;
    }

    .container-titolo {
        width: 320px;
        margin-top: 0;
        padding: 0;
    }

    .container-lavoro {
        margin-top: 20px;
        width: 320px;
    }

    .container-img {
        width: 320px;
    }

    #prev {
        left:4px;
        top: 340px;
        z-index: 412552;
    }

    #next {
        right: 240px;
        top: 340px;
    }

    /*  CONTATTI */
    #contatti {
        height: 100vh;
    }

    .titolo h3 {
        margin-top: 0;
    }

    #nm,
    #email,
    #text,
    #btn-invia {
        width: 300px;
    }
}

/* ------------------------------------- ANIMAZIONI ----------------------------------------  */
/* AVATAR */
@keyframes heartbeat {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

.heartbeat {
    animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ----------------------------------------- SCROLLBAR ------------------------------------------- */
/* Stile per l'intero scrollbar */
::-webkit-scrollbar {
    width: 14px;
    height: 8px;
}

/* Stile per il thumb (la parte che si muove) */
::-webkit-scrollbar-thumb {
    background-color: var(--color3);
    border-radius: 2px;
}

/* Stile per il track (la traccia in cui il thumb si muove) */
::-webkit-scrollbar-track {
    background-color: rgba(144, 143, 143, 0.435);
    border-radius: 2px;
}


@media (max-width: 800px) {}